<div>
    Filter Contacts: <input type="text" [(ngModel)]="numfilter" />
    <ul class="demo-list-two mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line contact-item" [ngClass]="{'selected-contact': contact==selectedContact}"
             *ngFor="let contact of contacts | contactSearchPipe: numfilter" (click)="showMessages(contact)">
            <span class="mdl-list__item-primary-content" >
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>Address: {{contact.name || contact.address}}</span>
                <span class="mdl-list__item-sub-title">Messages: {{contact.messageCount}}</span>
            </span>
        </li>
    </ul>
</div>

