<div style="width: 100%;">
    <div class="contacts">
        <contact-list></contact-list>
    </div>

    <div class="messages">
        <div *ngIf="!messagesLoaded" class="empty-state">
            <i class="material-icons empty-state-icon">chat_bubble_outline</i>
            <h3>No Messages Loaded</h3>
            <p>{{messagesPlaceholder}}</p>
            <div class="empty-state-note">
                <i class="material-icons">info_outline</i>
                <span>{{countryCodePlaceholder}}</span>
            </div>
        </div>
        <message-list></message-list>
    </div>
</div>